.content-list-heading {
  margin-top: var(--size-8);
  font-weight: 600;
}

.content-list {
  padding: 0;
  list-style-type: none;
}

.content-list li {
  padding: 0;
  max-inline-size: inherit;
}

.content-title {
  font-size: var(--font-size-3);
  width: 100%;
}

.content-title a {
  color: var(--gray-9);
  text-underline-offset: 2px;
}

@media only screen and (max-width: 750px) {
  .content-list-heading {
    font-size: var(--font-size-5);
  }
  .content-title {
    font-size: var(--font-size-4);
  }
}
