.content-list-heading {
  margin-top: var(--size-8);
  font-weight: 600;
}

.content-item::marker {
  color:var(--gray-9);
  content: "►";
}

.content-item:hover {
  background: var(--gray-9);
  color: #f8f8ff !important;
}

.content-item:hover a {
  color: #f8f8ff !important;
}


.content-item:hover .content-title {
  color: #f8f8ff !important;
}

.content-item:hover a:visited {
  color: #f8f8ff !important;
}

.content-list {
  padding: 0;
}

.content-title {
  font-size: var(--font-size-5);
  width: 100%;
}

.content-title a {
  color: var(--gray-9);
  text-decoration: none;
}

.content-list-heading,
.content-title a:active,
.content-title a:focus,
.content-title a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.content-title a:visited {
  color: var(--indigo-9);
}

@media only screen and (max-width: 750px) {
  .content-list-heading {
    font-size: var(--font-size-5);
  }
  .content-title {
    font-size: var(--font-size-4);
  }
}
