.p, .ul {
  margin: var(--size-5) 0;
  font-size: var(--font-size-3);
  padding: var(--size-2) 0;
  max-inline-size: unset;
}

@media only screen and (max-width: 750px) {
  .p, .ul {
    font-size: var(--font-size-2);
    padding: var(--size-4);
    max-inline-size: unset;
  }

  .p {
    font-size: 1rem;
  }
}
