.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 var(--size-7);
}

.description {
  font-size: var(--font-size-fluid-2);
  line-height: var(--font-lineheight-3);
  margin-top: var(--size-6);
}

.footer a {
  margin: 0 5px;
}

.footer a,
.title a {
  color: var(--indigo-9);
  display: inline;
  text-decoration: none;
  text-underline-offset: 2px;
}

.footer a:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.title a:hover,
.title a:focus,
.title a:active,
.footer a:hover,
.footer a:focus,
.footer a:active {
  text-decoration: underline;
}

.main {
  color: var(--gray-9);
  font-family: var(--font-sans);
  padding: var(--size-9) 0;
}

.title {
  color: var(--gray-9);
  font-size: var(--font-size-fluid-3);
  line-height: var(--font-lineheight-0);
  margin-top: var(--size-6);
  margin: 0;
}

.nav {
  background: var(--gray-9);
  color: var(--gray-1);
  display: flex;
  justify-content: right;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav li {
  display: inline-block;
  padding: var(--size-4)
}

.nav a {
  color: var(--gray-1);
  text-decoration: none;
}

.nav a:hover,
.nav a:active
.nav a:focus {
  color: var(--gray-1);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.nav a:visited {
  color: var(--gray-1);
}

@media only screen and (max-width: 750px) {
  .nav {
    display: block;
    position: relative;
    font-size: var(--font-size-fluid-0);
  }
}
