.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 var(--size-7);
}

.content-section {
  border-color: var(--color-body);
  border-style: solid;
  border-width: var(--border-size-2);
  box-shadow: var(--shadow-2);
  margin-top: var(--size-8);
  padding: var(--size-1);
}

.content-section h2 {
  margin-top: -15px;
  font-weight: var(--font-weight-5);
}

.content-section ul {
  font-size: var(--font-size-3)
}

.description {
  font-size: var(--font-size-fluid-1);
  line-height: var(--font-lineheight-3);
  margin-top: var(--size-6);
}

.footer {
  margin-bottom: var(--size-7);
}

.footer a {
  margin: 0 5px;
}

.container a, .nav a {
  color: var(--color-link);
  display: inline;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.container a:visited,
.footer a:visited {
  color: var(--color-visited);
}

.nav a {
  color: var(--color-body);
}

.footer a:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.main {
  color: var(--color-body);
  font-family: var(--font-sans);
  padding: var(--size-9) 0;
}

.main figure > span {
  box-shadow: var(--shadow-2);
}

.subtitle {
  font-size: var(--font-size-fluid-2);
  line-height: var(--font-lineheight-3);
  margin-top: var(--size-6);
}

.title {
  color: var(--color-body);
  font-size: var(--font-size-fluid-3);
  line-height: var(--font-lineheight-0);
  margin-top: var(--size-6);
  padding-left: 5px;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: left;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav li {
  display: inline-block;
  padding: var(--size-4)
}

@media only screen and (max-width: 750px) {
  .main {
      padding-top: 0;
  }

  .container {
    padding: 0 var(--size-3);
  }

  .nav {
    display: block;
    position: relative;
    font-size: var(--font-size-fluid-0);
  }
}
